@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat+Alternates:wght@400;500&family=Righteous&display=swap');

:root {
  --fm-Audiowide: 'Audiowide', cursive;
  --fm-Righteous: 'Righteous', cursive;
  --fm-Montserrat: 'Montserrat Alternates', sans-serif;

  --color-Orange: #FD8A01;
  --color-OffWhite: #E0DBD9;
  --color-Salmon: #F54C23;
  --color-Yellow: #FECF18;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fm-Montserrat);
}